{% extends '_header_footer.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href={{ asset('assets/css/map.css') }}>{% endblock %}
{% block title%}Solar Map{% endblock %}


{% block li %}
        <li><a href={{ path('destinations') }}>Our Destinations</a></li>
        <li><a href={{ path('page_index') }} >Home</a></li>
        <li><a href={{ path('app_login') }}>Login</a></li>
{% endblock %}
   
{% block main %}
    <iframe src="https://www.solarsystemscope.com/iframe"></iframe>
    <div>
        <p>Invented and Developed<br>by <a href="http://inove.eu.com/">INOVE</a></p>
    </div>
{% endblock %}


