body{
    background-image: url("../../img/pages/account.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    display: flex;
    justify-content: center;
    color: white;
    padding: 50px;
}

.form .fields{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.tab{
    display: flex;
    justify-content: space-around;
    color: white;
}


.sel-destination{
    width: 100%;
    height: 130px;
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
}

.pictures{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new{
    width: 100%;
    height: 20px;
}



img{
    width: 100%;
}
