{% extends 'base.html.twig' %}

{% block title %}Phoenix Space Industries{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{% endblock %}

{% block li %}
    <li><a href={{ path('solar-map') }}>Map</a></li>
    <li><a href={{ path('destinations') }} >Our Destinations</a></li>
    <li><a href={{ path('app_login') }}>Login</a></li>
{% endblock %}

{% block main %}


    <section class="empty"></section>
    <section class="section1 texts">
        <div class="intro">
            <img src="assets/img/logos/3eme_logo(1).png" alt="" class="resp logo">
            <h1>Welcome to<br>Phoenix Space Industries</h1>
        </div>
        <br>
        <div>
            <div>
                <form action="" method="post" class="d-flex space-around">
                    <label for="">Departure</label>
                    <input type="text">
                    <input type="date" name="date" id="date">
                    <label for="">Arrival</label>
                    <input type="text">
                    <input type="button" value="Travel">
                </form>

            </div>
        </div>
        <div class="travel">
            <div>

            </div>
        </div>
    </section>
    <section class="empty"></section>

    <section class="section2">
        <h2 class="texts">Trending</h2>
        <div class="trending">
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
        </div>
        <div class="trending">
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
            <div>
                <img src="assets/img/Windows.png" alt="" class="resp windows">
            </div>
        </div>
    </section>

<section class="empty"></section>

{% endblock %}
