*{
    margin: 0;
    padding: 0;
    font-family: "Sephora";
    list-style-type: none;
    text-decoration: none;
}

@font-face{
    font-family: "Sephora";
    src: url(../fonts/Sephora.ttf);
}

.resp{
    width: 100%;
    height: auto;
}


.width{
    width: 150px;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    font-size: 2em;
    text-decoration: none;
}

a{
    color: white;
}

a:hover{
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
}

.disp-none{
    display: none;
}

.burger-menu{
    width: 30%;
}


.logo{
    width: 15%;
}

.close{
    width: 14%;
}

.navigation{
    display: flex;
    justify-content: space-around;
}

.link{
    font-size: 2em;
    color: white;

}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.lang{
    padding: 10px;
    width: 10%;
}

.box-lang{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.burger-nav{
    display: none;
}

@media screen and (max-width:800px){

    .burger-nav{
        display: flex;
        justify-content: space-around;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;

    }
    nav .openMenu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }


    .hidden-logo{
        display: unset;
        width: 50px;
    }



}