*{
    margin: 0;
    font-family: "Sephora";
    list-style-type: none;
    text-decoration: none;
}

@font-face{
    font-family: "Sephora";
    src: url(../fonts/Sephora.ttf);
}

.resp{
    width: 100%;
    height: auto;
}

.width{
    width: 150px;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    text-decoration: none;
}

main{
    width: 100%;
}

a{
    color: white;
}

a:hover{
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
}

.logo{
    width: 80px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 05%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lang{
    padding: 10px;
    width: 15%;
}

.box-lang{
    display: flex;
    justify-content: center;
    align-items: center;
}

