body{
    background: url("../img/pages/destination.jpg");

}


.skew {
    transform: skew(0deg, -10deg);
    overflow: hidden;
    height: 100%;
    margin-left: -1px;
}

.row {
    height: auto;
    width: 100%;
}

.width{
    width: 30%;
}

.container-fluid {
    height: 100vh;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}


.destination{

}

@média screen and (min-width:576px) and (max-width:800px){

}