body{
    background-image: url("../img/pages/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.title{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.section2{
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.sign_in{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sign_up{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_form{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login .password{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.caution{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form .fields{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@média screen and (min-width:576px) and (max-width:800px){

}